/*  your css code here. If applicable */
.selector {
    color: #00f; /* Font color: blue */
    background-color: #eee; /* Background color: light gray */
    font-family: Arial; /* Font family: Arial */
    font-size: 20px; /* Font size: 20px */
}

